/* TIEMPOS HEADLINE */

@font-face {
  font-family: "Tiempos Headline";
  src: url(assets/fonts/Tiempos-Font/TiemposHeadline-Black.otf);
}

@font-face {
  font-family: "Tiempos Headline";
  src: url(assets/fonts/Tiempos-Font/TiemposHeadline-Bold.otf);
  font-weight: bold;
}

@font-face {
  font-family: "Tiempos Headline";
  src: url(assets/fonts/Tiempos-Font/TiemposHeadline-Medium.otf);
  font-weight: medium;
}

/* AVENIR */

@font-face {
  font-family: "Avenir";
  src: url(assets/fonts/Avenir/Avenir\ Regular/Avenir\ Regular.ttf);
}

@font-face {
  font-family: "Avenir";
  src: url(assets/fonts/Avenir/Avenir\ Heavy/Avenir\ Heavy.ttf);
  font-weight: bold;
}

@font-face {
  font-family: "Avenir";
  src: url(assets/fonts/Avenir/Avenir\ Book/Avenir\ Book.ttf);
  font-weight: semibold;
}
